

/************
NAV STYLES
************/

#nav {margin-left:22px;}
#nav ul {list-style-type:none;overflow:auto;}
#nav li {float:left;}
#nav a {display:block;height:20px;padding:5px 10px;position:relative;text-decoration:none;text-transform:uppercase;}
#nav a:visited {color:#a0a1a2;text-decoration:none;}
#nav a:link {color:#a0a1a2;text-decoration:none;}
#nav a:hover {color:#5d5e5e;text-decoration:none;}
#nav a:active {color:#5d5e5e;text-decoration:none;}


/* any additional menu items need to be added here for them to be styled correctly when selected. */
body#home a#nav_home,
body#example a#nav_example,
body#help a#nav_help {
  color:black;font-weight:bold;
}



/************
FOOTER_NAV STYLES
************/

#footer_nav {float:right;}
#footer_nav ul {list-style-type:none;}
#footer_nav li {float:left;margin-right:20px;}
#footer_nav a {display:block;position:relative;text-decoration:none;text-transform:uppercase;}
#footer_nav a:visited {color:#a0a1a2;text-decoration:none;}
#footer_nav a:link {color:#a0a1a2;text-decoration:none;}
#footer_nav a:hover {color:#5d5e5e;text-decoration:underline;}
#footer_nav a:active {color:#5d5e5e;text-decoration:underline;}


/* any additional menu items need to be added here for them to be styled correctly when selected. */
body#home a#footer_nav_home,
body#example a#footer_nav_example,
body#help a#footer_nav_help {
  color:#5d5e5e;font-weight:bold;
}


